.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.sells {
		background: #ababab;
		width: 100%;
		text-align: center;
		padding: 60px;
		h1 {
			color: #fff;
			font-size: 35px;
			font-weight: 700;
		}
		div {
			margin: 65px 0;
			color: #fff;
			font-size: 25px;
			font-weight: 400;
		}
		img {
			width: 50px;
			height: auto;
		}
	}

	ul {
		list-style: none;
		margin-top: 80px;
		padding: 0 20px;
		li {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 50px;
			.number {
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: #036;
				font-size: 25px;
				font-weight: 400;
				position: relative;
				&::before {
					content: '';
					z-index: -1;
					top: -120px;
					position: absolute;
					width: 4px;
					height: 130px;
					background: #036;
				}
			}
			&:first-child {
				.number {
					&::before {
						height: 0px;
					}
				}
			}
			.action {
				margin-left: 30px;
				h2 {
					color: #036;
					font-size: 38px;
					font-weight: 700;
					margin-bottom: 10px;
				}
				p {
					color: #036;
					font-size: 26px;
					font-weight: 400;
				}
			}
		}
	}
	.invite_button {
		margin-top: 100px;
		padding: 20px 40px;
		background: #036;
		border-radius: 50px;
		color: white;
		font-size: 20px;
		&:hover {
			background: rgb(1, 68, 134);
		}
	}
}

@media screen and (max-width: 1200px) {
	.about {
		ul {
			li {
				.number {
					padding: 0 20px;
				}
				.action {
					h2 {
						font-size: 34px;
					}
					p {
						font-size: 24px;
					}
				}
			}
		}
		.invite_button {
			margin-top: 40px;
		}
	}
}

@media screen and (max-width: 720px) {
	.about {
		.sells {
			h1 {
				font-size: 32px;
			}
			div {
				font-size: 20px;
			}
		}

		ul {
			margin-top: 50px;
			li {
				.action {
					h2 {
						font-size: 28px;
					}
					p {
						font-size: 18px;
					}
				}
			}
		}
		.invite_button {
			margin-top: 0px;
		}
	}
}

@media screen and (max-width: 520px) {
	.about {
		.sells {
			padding: 60px 30px;
			h1 {
				font-size: 24px;
			}
			div {
				font-size: 20px;
				margin: 30px 0;
			}
		}

		ul {
			li {
				.action {
					h2 {
						font-size: 22px;
					}
					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.about {
		.sells {
			padding: 40px 30px;
			h1 {
				font-size: 22px;
			}
			div {
				font-size: 18px;
				margin: 30px 0;
			}
		}
	}
}
