.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	h1 {
		margin-top: 36px;
		margin-bottom: 60px;
		font-size: 70px;
		padding: 10px 10px;
		font-weight: 700;
		color: #036;
		&::after {
			content: '';
			background-color: #036;
			height: 3px;
			display: block;
		}
	}

	.tabs {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 80px;
		gap: 20px;
	}

	.privilege {
		margin: 50px auto;
		background-color: #4f8ac4;
		display: flex;
		justify-content: center;
		width: 100%;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			width: 0;
			height: 0;
			border-left: 50vw solid transparent;
			border-right: 50vw solid transparent;
			border-bottom: 100px solid #4f8ac4;
			margin: -100px auto;
		}
		&::after {
			content: '';
			position: absolute;
			z-index: 1;
			bottom: 0;
			width: 0;
			height: 0;
			border-left: 50vw solid transparent;
			border-right: 50vw solid transparent;
			border-top: 100px solid #4f8ac4;
			margin: -100px auto;
		}
		ul {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			max-width: 1600px;
			gap: 50px;
			padding: 40px;
			li {
				max-width: 280px;
				padding: 20px 20px 100px 20px;
				background: #fefefe;
				border-radius: 0px 0px 50px 50px;
				box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.4);
				h2 {
					color: #036;
					font-size: 30px;
					font-weight: 700;
				}
				p {
					margin-top: 15px;
					color: #036;
					font-size: 20px;
					font-weight: 400;
					margin-bottom: 70px;
				}
				a {
					color: rgba(0, 51, 102, 0.6);
					font-size: 30px;
					font-weight: 800;
				}
			}
		}
	}
}
